.pic{
    width: 7.5rem;
    height: 7.8rem;
    position: relative;
    overflow: hidden;
}
.content{
    width: 99999px;
    height:7.8rem;
    position: absolute;
    left: 0;
    top: 0;
    border:0.01rem solid red

}
.content img{
    width: 7.5rem;
    height: 7.8rem;
    float: left;
}
