/*轮播图1*/
.pic{
    position: relative;
    overflow: hidden;
}
.content{
    width: 99999px;
    position: absolute;
    left: 0;
    top: 0;
}
.content img{
    float: left;
}
/*轮播图一*/
.height1{
    height:8rem;
}
.wid1{
    width: 7.5rem;
}
/*轮播图二*/
.height2{
    height:3rem;
}
.wid2{
    width: 7rem;
}

.wid_com{
    width:7.5rem
}

.input_box{
    background:#1d1d1d;
    padding:0.6rem 0 0.4rem 0;
}
.input_box input{
    width:6rem;
    margin:0 auto;
    height:0.8rem;
    box-sizing:border-box;
    text-align:center;
    background:#fff;
    margin-top:0.3rem;
}
.reason{
    width:6rem;
    margin:0 auto;
}
.reason span{
    font-size:0.25rem;
    color:#fff;
    display: inline
}
.reason span span{
    color:#f00;
}
input[type='checkbox']{
    margin:0;
    width:0.5rem;
    height:0.4rem;
    border:0.01rem solid #fff;
    margin-right:0.1rem;
}
button{
    background: #c59a6d;
    display: block;
    width:6rem;
    margin:0 auto;
    height:0.8rem;
    box-sizing:border-box;
    text-align:center;
    margin-top:0.5rem;
}
.mt1{
    margin-top:0.3rem;
}
.first{
    background:#070707;
    padding:0.5rem 0;
}
.tea_logo img{
    width:1rem;
    height:1rem;
}
.tea_logo p{
    font-size:0.5rem;
    font-weight:bold;
    color:#e7cfa1;
}