/*轮播图1*/
.pic{
    width: 7.5rem;
    position: relative;
    overflow: hidden;
}
.content{
    width: 99999px;
    position: absolute;
    left: 0;
    top: 0;

}
.content img{
    width: 7.5rem;
    float: left;
}
.height1{
    height:8rem;
}
.wid_com{
    width:7.5rem
}

.input_box{
    background:#1d1d1d;
}
.input_box input{
    border:1px solid red;
    width:5.5rem;
}