.bg_black{
    background: #070707;
    color:#fff;
    height:6rem;
    width:100%;
    box-sizing: border-box;
    padding:0.8rem 0.5rem 0.5rem 0.5rem;;
}
.mt5{
    margin-top:0.5rem
}
.mt8{
    margin-top:0.8rem
}
.mt3{
    margin-top:0.3rem
}
.text_center{
    text-align:center;
}
.concat{
    font-size:1.5rem;
    background-image: -webkit-linear-gradient(left, rgb(192, 174, 110), rgb(167, 138, 78));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.but_two{
    width:80%;
    margin:0 auto;
    font-size:0.2rem;
    margin-top:0.2rem;
}
.but_two span{
    width:50%;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    padding:0 0.2rem;
    height:0.7rem;
    line-height: 0.7rem;
}
.but_two span:first-child{
    color:#9b7745;
    border:0.01rem solid #35372c
}
.but_two span:last-child{
    background:#987646
}
.phone,.com{
    font-size:0.3rem;
}
.com{
    margin-left:0.8rem;
}
.first{
    width:100%;
    background:#966600;
    height:3.5rem;
}
.eight{
    width:7.1rem;
    margin:0 auto;
    padding: 0.4rem 0;
}
.wx{
    width:1.2rem;
    height:1.2rem;
}
.sou{
    font-size:0.5rem;
    color:#fff;
    margin-left:0.2rem;
}
.sear{
    width:0.7rem;
    height:0.7rem
}
.name{
    font-size:0.6rem;
    color:#7b7b7b;
}
.search_box{
    background:#fff;
    padding:0.15rem 0;
}
.logo_m{
    width:3.4rem;
    height:3.4rem;
    margin:0.7rem;
}
.title{
    font-size:0.45rem;
    line-height: 1.5
}
.title span{
    display: block;
    text-align: center;
}
.second{
    background: #070707;
    color:#fff;
    padding:0.5rem 0 0.7rem 0;
}
.subtitle{
    font-size:0.35rem;
}
.cu_top{
    background:#b2030a; 
}
.cu_top,.cu_top img{
    width:7.5rem;
}