.bg_black{
    background: #070707;
}
.concat{
    font-size:0.3rem;
    background-image: -webkit-linear-gradient(bottom, rgb(201, 115, 255), rgb(20, 11, 255));
    -webkit-background-clip: text;
    webkit-text-fill-color: transparent;

}