.bg_black{
    background: #070707;
    color:#fff;
    height:6rem;
    width:100%;
    box-sizing: border-box
}
.text_center{
    text-align:center;
}
.concat{
    font-size:1.5rem;
    background-image: -webkit-linear-gradient(bottom, rgb(201, 115, 255), rgb(20, 11, 255));
    -webkit-background-clip: text;
    webkit-text-fill-color: transparent;

}
.but_two,.phone,.com{
    font-size:0.3rem;
}   