.bg_black{
    background: #070707;
    color:#fff;
    height:6rem;
    width:100%;
    box-sizing: border-box;
    padding:0.8rem 0.5rem 0.5rem 0.5rem;;
}
.mt5{
    margin-top:0.5rem
}
.mt8{
    margin-top:0.8rem
}
.mt3{
    margin-top:0.3rem
}
.text_center{
    text-align:center;
}
.concat{
    font-size:1.5rem;
    background-image: -webkit-linear-gradient(left, rgb(192, 174, 110), rgb(167, 138, 78));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.but_two{
    width:80%;
    margin:0 auto;
    font-size:0.2rem;
    margin-top:0.2rem;
}
.but_two span{
    width:50%;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    padding:0 0.2rem;
    height:0.7rem;
    line-height: 0.7rem;
}
.but_two span:first-child{
    color:#9b7745;
    border:0.01rem solid #35372c
}
.but_two span:last-child{
    background:#987646
}
.phone,.com{
    font-size:0.3rem;
}
.com{
    margin-left:0.8rem;
}
.first{
    width:100%;
    background:#966600;
}
.eight{
    width:7.1rem;
    margin:0 auto;
}